@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  color: inherit;
}

.container{
  position: relative;
  padding: 40px 7%;
}
