#header{
  padding: 40px 7%;
  &__nav{
    
    &__list{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 30px;
      justify-content: center; 
    }
  }
}

@media screen and (min-width: 1024px){
  #header{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0;

    &__nav{
      display: flex;
      align-items: center;
      justify-self: center;
      grid-column: 4 / 10;
      &__list{
        margin-top: 0;
      }
    }
  }
}