.cross{
  position: absolute;
  top: 52px;
  right: 40px;
  cursor: pointer;
  
  &__bar{
    position: absolute;
    display: block;
    height: auto;
    margin: 3px;
    height: 2px;
    width: 25px;
    background-color: white;

    &--1{
      transform: rotate(45deg);
    }
    
    &--2{
      transform: rotate(-45deg);
    }
  }
}