.photographer{
  display: flex;
  flex-direction: column;
  margin: auto;

  &--page{
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &__idContainer{

    &__picture{
      height: 200px;
      width: 200px;
      margin: auto ;
      margin-bottom: 20px;

      &--page{
        height: 100px;
        width: 100px;
      }
    }

    &__user{
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    }
  
    &__name{
      font-size: 36px;
      text-align: center;

      &--page{
        text-align: start;
      }
    }
  }

  &__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &--page{
      text-align: start;
    }

    h1, h2, ul, p{
      margin-top: 2px;
      margin-bottom: 2px;
    }

    &__location{
      font-size: 13px;
    }

    &__description{
      font-size: 10px;

      &--page{
        font-size: 13px;
        color: #757575;
      }
    }

    &__price{
      font-size: 9px;
      color: #757575;
    }

    &__hashtags{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: auto;

      &--page{
        flex-wrap: wrap;
        margin-left: -3px;
      }
    }

    &__tag-name{
      font-size: 12px;

      &--page{
        font-size: 13px;
      }
    }
  }

  &__informations{
    display: none;
    position: fixed;
    justify-content: space-around;
    padding: 20px 0;
    width: 375px;
    border-radius: 5px 5px 0 0;
    background-color: $secondPrimaryColor;
    bottom: 0;
    right: 40px;

    &__likes__number, &__likes__heart, &__dailyprice{
      color: black;
      font-size: 24px;
    }
  }
}

@media all and (min-width: 1024px){
  .photographer{
    
    &--page{
      padding: 60px 50px;
      background-color: $secondSecondaryColor;
    }
  
    &__idContainer{
      &--page{
        display: flex;
      }
  
      &__picture{
  
        &--page{
          height: 200px;
          align-self: center;
          width: 200px;
        }
      }
    
      &__name{
        &--page{
          grid-row: 1/1;
          font-size: 64px;
        }
      }
    }
  
    &__container{    
      &--page{
        display: grid;
        grid-template-rows: repeat(4);
        grid-row-gap: 10px;
        grid-column-gap: 15px;
        text-align: start;
        align-self: center;
      }

      h1, h2, ul, p{
        margin-top: 0;
        margin-bottom: 0;
      }
  
      &__location{
        &--page{
          grid-row: 2/2;
          font-size: 24px;
        }
      }
  
      &__description{
        &--page{
          grid-row: 3/3;
          font-size: 18px;
        }
      }
  
      /*&__price{
        font-size: 9px;
        color: #757575;
      }*/

      &__hashtags{
        &--page{
          grid-row: 4/ 4;
        }
      }
  
      &__tag-name{
        &--page{
          font-size: 18px;
        }
      }

      .contact-btn{
        grid-column: 2/2;
        position: inherit;
        padding: 20px 10px;
        margin: 0;
        height: 70px;
        align-self: center;
        font-size: 20px;
      }
    }

    &__informations{
      display: flex;
    }
  }
}
